<body>
    <!-- Include scripts -->
    <% include ../partials/scripts %>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid mt--8">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h2 class="judul">Kebutuhan Baru</h2>
            </div>
            <div class="luar">
                <div id="form"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>


  
  <!-- Individual scripts -->
  <script src="/js/pages/kebutuhanbaru/form.js"></script>
  <!-- <script src="/js/pages/form-master-data-vendor/data.js"></script> -->
</body>
