<body>
    <!-- Include scripts -->
    <% include ../partials/scripts %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <% include ../partials/auth/header %>
    <!-- Page content -->
    <div class="container-fluid mt--8">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h2 class="judul">Form Master Data Vendor</h2>
            </div>
            <div class="luar">
              <!-- <div class="row icon-examples"> -->
                <div id="form"></div>
              <!-- </div> -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>


  
  <!-- Individual scripts -->
  <script src="/js/pages/vendor_form_master_data/form.js"></script>
  <script src="/js/pages/vendor_form_master_data/data.js"></script>
</body>
