<body>
    <!-- Include scripts -->
    <% include ../partials/scripts %>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid mt--8">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h2 class="judul">Penawaran Baru</h2>
            </div>
            <div class="luar">

            <form id="form" method="post" action="" enctype="multipart/form-data">
              <h3>Data Penawaran</h3>
              <div class="dx-fieldset">
                  <div class="dx-field">
                      <div class="dx-field-label">ID Penawaran :</div>
                      <div class="dx-field-value" id="id-penawaran"></div>
                  </div>
                  <div class="dx-field">
                      <div class="dx-field-label">ID Kebutuhan :</div>
                      <div class="dx-field-value" id="id-kebutuhan"></div>
                  </div>
                  <div class="dx-field">
                    <div class="dx-field-label">Harga Total :</div>
                    <div class="dx-field-value" id="harga-total"></div>
                </div>
              </div>
              <div id="fileuploader-container">
                  <div id="file-uploader"></div>
              </div>
              <div id="button"></div>
          </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>


  
  <!-- Individual scripts -->
  <script src="/js/pages/vendor_upload_penawaran/form.js"></script>
  <!-- <script src="/js/pages/form-master-data-vendor/data.js"></script> -->
</body>
